<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script>
    angular.module('plunker', ['ui.bootstrap']);
var ModalDemoCtrl = function($scope, $modal, $timeout, $log) {

  $scope.open = function() {

    var modalInstance = $modal.open({
      templateUrl: 'myModalContent.html',
      controller: ModalInstanceCtrl,
      resolve: {
        mydata: function() {
          return "Loading...";
        }
      }
    });

    modalInstance.opened.then(function() {
      $scope.loadData(modalInstance);
    }, function() {
      $log.info('Modal dismissed at: ' + new Date());
    });
  };

  $scope.loadData = function(aModalInstance) {
    $log.info("starts loading");
    $timeout(function() {
      $log.info("data loaded");
      aModalInstance.setMyData("data loaded...");
    }, 3000);
  };
};

// Please note that $modalInstance represents a modal window (instance) dependency.
// It is not the same as the $modal service used above.

var ModalInstanceCtrl = function($scope, $modalInstance, mydata) {
  $scope.mydata = mydata;

  $modalInstance.setMyData = function(theData) {
    $scope.mydata = theData;
  };

  $scope.ok = function() {
    $modalInstance.close('close');
  };
  $scope.cancel = function() {
    $modalInstance.dismiss('cancel');
  };
};

    </script>
     <link href="./css/bootstrap.min.css">
  </head>


  <body>
  
  <div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <h1>Data</h1>
            <div class="well">
              {{mydata}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
  </div>  
  
  </body>

</html>
